@page
@model IndexModel
@using Newtonsoft.Json  
@using System.Collections.Generic
@using Haik.Models
@using System.Linq
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" />

<style>
    .previousTrips {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .TripDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-bottom: grey solid 3px;
        color: black;
    }

        .TripDiv * {
            width: 100%;
        }
</style>

@if (!Model.signInManager.IsSignedIn(User))
{
    <div class="container-fluid">
        <div class=" container-fluid mainIntroductionContainer">
            <img src="~/Pictures/logo.png" height="300px" />
            <div
                 style="height:300px" />
                <a asp-page="/Login"><button class="btn btn-info btn-lg">Logg inn</button></a>
                <a asp-page="/Register"><button class="btn btn-outline-info btn-lg">Registrer deg</button></a>        
           
           <p style="height: 300px;" class="align-text-top" id="introDescription">
               Velkommen til Haik!
               <br>
               Tjenesten som knytter friluftsmennesker sammen, enten du kjenner personen 
               eller ikke. Fra Nordkapp til Lindesnes tilbyr vi turer av alle sorter, 
               med den vanskelighetsgraden som passer deg best. Opplev Norge i dag
           </p>
        </div> 
    </div>
}
else
{
    <div class="container-fluid">
        <div class="indexSearchBarContainer">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Hvor vil du på din neste tur?" name="search">
                    <button type="submit">SØK</button>
                </div>
            </form>
        </div>

        <div class="indexLoggedInMainContainer">

            <div class="createTripContainer">
                <a class="btn btn-lg btn-info" asp-page="/CreateTrip">Opprett Arrangement</a>
            </div>

            <div class="personalInfoLoggedInContainer">
                <div class="columnDivider">
                    <div class="upcomingTrips">
                        <h3>Dine Kommende Turer</h3>
                        @if (Model.userUpComingTrips == null || Model.userUpComingTrips.Count() == 0)
                        {
                            <h5 style="padding-top: 30px;">Du har ingen kommende turer </h5>
                        }
                        else
                        {
                            @foreach (var d in Model.userUpComingTrips)
                            {
                                <a asp-page="/SeeTrip" asp-route-id="@d.Id" class="tripElementLinkIndex">
                                    <div class="TripDiv">
                                        <div class="tripName">
                                            <h6>@d.Name</h6>
                                        </div>
                                        <div class="tripEnrolled">
                                            @if (d.JsonParticipantUids == null)
                                            {
                                                <h6>0 Påmeldte</h6>
                                            }
                                            else
                                            {
                                                <h6>@(((int)d.JsonParticipantUids.Count()/37)) Påmeldte</h6>
                                            }
                                        </div>
                                        <div class="tripDifficulty"> <h6>@d.Difficulty</h6></div>

                                        <div class="tripCreator"> <h6>@Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().FirstName @Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().LastName</h6></div>


                                    </div>
                                </a>
                            }
                        }
                    </div>
            </div>

                <div class="tripCategories">
                    <h3>Finn din neste... (kategorier)</h3>
                </div>

            </div>

            <div class="allTripsLoggedInContainer">
                <h2>Alle turer</h2>


                    <div class="allTrips">
                        @foreach (var d in Model.data)
                        {



                            <a asp-page="/SeeTrip" asp-route-id="@d.Id" class="tripElementLinkIndex">

                                <div class="tripElementIndex">
                                    <div class="tripName">
                                        @if (Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().IsCommercial)
                                        {
                                            <h4><mark>@d.Name</mark></h4> }

                    else { 


                                            <h4>@d.Name</h4> }


                                        </div>
                                    <div class="tripEnrolled">
                                        @if (Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().IsCommercial)
                                        {


                                            @if (d.JsonParticipantUids == null)
                                            {

                                                <h4><mark>0 Påmeldte</mark></h4>
                                            }
                                            else
                                            {
                                                <h4><mark>>@(((int)d.JsonParticipantUids.Count()/37)) Påmeldte</mark></h4>
                                            } }
                                        else
                                        { @if (d.JsonParticipantUids == null)
                                            {

                                                <h4>0 Påmeldte</h4>
                                            }
                                            else
                                            {
                                                <h4>@(((int)d.JsonParticipantUids.Count()/37)) Påmeldte</h4>
                                            }}
                                    </div>
                                    <div class="tripDifficulty">

                                        @if (Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().IsCommercial)
                                        {
                                            <h4><mark>@d.Difficulty</mark></h4>

                                        }
                    else { 
                                        <h4>@d.Difficulty</h4> }
                                    </div>

                                    <div class="tripCreator">


                                        @if (Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().IsCommercial)
                                        {


                                            <h4><mark>@Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().FirstName @Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().LastName</mark></h4>
                                        }
                                        else
                                        {
                                            <h4>@Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().FirstName @Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().LastName</h4>

                                        }
                                    </div>


                                </div>

                            </a>

                        }

                    </div>
                    



            </div>
        </div>

    </div>
}

