@page
@model IndexModel
@using Newtonsoft.Json  
@using System.Collections.Generic
@using Haik.Models
@using System.Linq
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" />

@if (!Model.signInManager.IsSignedIn(User))
{
    <div class="container-fluid">
        <div class=" container-fluid mainIntroductionContainer">
            <div class="indexBtnContainer">
                <a asp-page="/Login"><button class="btn btn-info btn-lg">Logg inn</button></a>
                <a asp-page="/Register"><button class="btn btn-outline-info btn-lg">Registrer deg</button></a>
            </div>
           <img src="~/Pictures/logo.png" height="300px"/>
           <p id="introDescription">
               Velkommen til Haik!
               <br>
               Tjenesten som knytter friluftsmennesker sammen, enten du kjenner personen 
               eller ikke. Fra Nordkapp til Lindesnes tilbyr vi turer av alle sorter, 
               med den vanskelighetsgraden som passer deg best. Opplev Norge i dag
           </p>
        </div>



    </div>
}
else
{
    <div class="container-fluid">
        <div class="indexSearchBarContainer">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Hvor vil du på din neste tur?" name="search">
                    <button type="submit">SØK</button>
                </div>
            </form>
        </div>

        <div class="indexLoggedInMainContainer">

            <div class="createTripContainer">
                <a class="btn btn-lg btn-info" asp-page="/CreateTrip">Opprett Arrangement</a>
            </div>

            <div class="personalInfoLoggedInContainer">
                <div class="columnDivider">
                    <div class="upcomingTrips">
                        <h3>Dine Kommende Turer</h3>
                        @if (Model.userUpComingTrips == null)
                        {
                            <h5 style="padding-top: 30px;">Du har ingen kommende turer </h5>
                        }
                        else
                        {
                            @foreach (var d in Model.data)
                            {
                                <a asp-page="/SeeTrip" class="tripElementLinkIndex">
                                    <div class="tripElementIndex">
                                        <h4>@d.Name</h4>
                                        @if (d.JsonParticipantUids == null)
                                        {
                                            <h4>0 Påmeldte</h4>
                                        }
                                        else
                                        {
                                            <h4>@d.JsonParticipantUids Påmeldte</h4>
                                        }
                                        <h4>@d.Difficulty</h4>
                                    </div>
                                </a>
                            }
                        }
                </div>
            </div>

                <div class="tripCategories">
                    <h3>Finn din neste... (kategorier)</h3>
                </div>

            </div>

            <div class="allTripsLoggedInContainer">
                <h2>Alle turer</h2>
                <div class="allTrips">
                    @foreach (var d in Model.data)
                    {

                        <a asp-page="/SeeTrip" asp-route-id="@d.Id" class="tripElementLinkIndex">
                            <div class="tripElementIndex">
                                <div class="tripName">
                                    <h4>@d.Name</h4>
                                </div>
                                <div class="tripEnrolled">
                                    @if (d.JsonParticipantUids == null)
                                    {
                                        <h4>0 Påmeldte</h4>
                                    }
                                    else
                                    {
                                        <h4>@(((int)d.JsonParticipantUids.Count()/37)) Påmeldte</h4>
                                    }
                                </div>
                                <div class="tripDifficulty"> <h4>@d.Difficulty</h4></div>

                                <div class="tripCreator"> <h4>@Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().FirstName @Model.dbContext.Users.Where(w => w.Id == d.OwnerId).First().LastName</h4></div>
                               
                               
                            </div>
                        </a>
                    }
                </div>

            </div>
        </div>

    </div>
}

