@page "{id}"
@model Haik.Pages.SeeTripModel
@using Haik.Models;
@{
    var id = RouteData.Values["id"];
}

<style>
    .tripNameContainer {
        text-align: center;
    }
    .tripInfoContainer{
        border: solid 3px grey;
        width: 80%
    }

    .descriptionContainer{
        border: solid 3px grey;
        width: 80%



    }

    .allInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .joinTripButton{
       
        align-items: center;
        text-align: center;
    }
</style>


<link rel="stylesheet" href="~/css/index.css" />


<div class="container-fluid">
    <div class="tripNameContainer">
        <h1>@Model.trip.Name </h1> 
    </div>

    <div class="allInfo">

        <div class="tripInfoContainer">
            Lokasjon: @Model.trip.Location <br />
            Varighet: @Model.trip.Duration <br />
            Dato: @Model.trip.Date <br />
            Vanskelighetsgrad:@Model.trip.Difficulty <br />
            Utstyr: @Model.trip.Equipment <br />

        </div>

        <div class="descriptionContainer">
            <h3>Beskrivelse</h3>
            @Model.trip.Description
            
        </div>


        

    </div>
    <div class="joinTripButton">

        
       
      
        <form method="post">

            <button type="submit" class="btn btn-secondary btn-lg">Meld meg på</button>
                
        </form>
        
       
        
    </div>

</div>