@page "{id}"
@model Haik.Pages.SeeTripModel
@using Haik.Models;
@using System.Security.Claims;
@{
    var id = RouteData.Values["id"];
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">


<div class="container">
    <div class="row content-center">

        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="mb-4">

                        @if (Model.context.Users.Where<ApplicationUser>(a => a.Id == Model.trip.OwnerId).First().IsCommercial)
                        {
                            <h3 class="h3"><i class="fas fa-solid fa-star text-warning"></i>Info</h3>
                        }
                        else
                        {
                            <h3 class="h3">Info </h3>
                        }

                    </div>

                    <ul class="list-unstyled mb-5">
                        <li class="mb-4"><i class="fas fa-map-marker-alt text-info"></i> @Model.trip.Location </li>
                        <li class="mb-4"><i class="fas fa-clock text-info"></i>@Model.trip.Duration </li>
                        <li class="mb-4"><i class="fas fa-calendar-alt text-info"></i>@Model.trip.Date</li>
                        <li class="mb-4"><i class="fas fa-signal text-info"></i>@Model.trip.Difficulty</li>
                        <li class="mb-4"><i class="fas fa-hiking text-info"></i> @Model.trip.Equipment</li>
                    </ul>
                    <div>
                        <form method="post">
                            @if (Model.trip.JsonParticipantUids == null || !Model.trip.JsonParticipantUids.Contains(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <button type="submit" class="btn btn-info btn-lg">Meld meg på</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-danger btn-lg">Meld meg av</button>
                            }
                            @if (Model.trip.OwnerId.Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)) || Model.context.Users.Where<ApplicationUser>(u => u.UserName == User.Identity.Name).First().Admin)
                            {
                                <a asp-page="/EditTrip" asp-route-id="@id"><button type="button" class="btn btn-secondary btn-lg">Rediger Tur</button></a>
                            }

                        </form>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1"><button class="btn btn-outline-info btn-sm" type="button">Vis Påmeldte</button></a>
                                </h4>
                            </div>
                            @if (Model.tripParticipants.Count() == 0)
                            {
                                <div id="collapse1" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item">Det er ingen påmeldte!</li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div id="collapse1" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        @foreach (var u in Model.tripParticipants)
                                        {

                                            <a asp-route-id="@u.UserName" asp-page="/Profile">
                                            <li class="list-group-item">@u.FirstName @u.LastName</li></a>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                    <hr /><br />

                    <div class="mb-4">
                        <h3 class="h3">Kommentarer </h3>
                    </div>
                    <br />
                    @* Her tenker jeg kommentarfeltet skal være! *@
                    <br />
                    <div class="form-group mb-1">
                        <input type="text" class="form-control" id="comment" placeholder="Still et spørsmål til turarrangøren!">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info btn-sm">Send</button>
                    </div>

                    </div>
                </div>
        </div>


        <div class="col-lg-6">
            <div class="mb-5 wow fadeIn">
                <div class="text-start mb-1-6 wow fadeIn">
                    <h2 class="h1 text-info">@Model.trip.Name</h2>
                </div>
                <div class="p-3 mb-2 border border-info text-black-50">
                    @Model.trip.Description
                </div>
            </div>

        </div>

    </div>




    <div class="addSummary">
        <form method="post">
            @if ((Convert.ToDateTime(Model.trip.Date) < DateTime.Now) && (Model.trip.OwnerId.Equals(User.FindFirstValue(ClaimTypes.NameIdentifier))))
            {
                <a asp-page="/AddSummary" asp-route-id="@id"><button type="button" class="btn btn-secondary btn-lg">Skriv oppsummering</button></a>
            }
        </form>

    </div>

    
</div>
