@page "{id}"
@model Haik.Pages.SeeTripModel
@using Haik.Models;
@using System.Security.Claims;
@{
    var id = RouteData.Values["id"];
}

<style>
    .tripNameContainer {
        text-align: center;
    }
    .tripInfoContainer{
        border: solid 3px grey;
        width: 80%
    }

    .descriptionContainer{
        border: solid 3px grey;
        width: 80%



    }

    .allInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .joinTripButton{
       
        align-items: center;
        text-align: center;
    }
</style>


<link rel="stylesheet" href="~/css/index.css" />


<div class="container-fluid">
    <div class="tripNameContainer">
        <h1>@Model.trip.Name </h1> 
    </div>

    <div class="allInfo">

        <div class="tripInfoContainer">
            Lokasjon: @Model.trip.Location <br />
            Varighet: @Model.trip.Duration <br />
            Dato: @Model.trip.Date <br />
            Vanskelighetsgrad:@Model.trip.Difficulty <br />
            Utstyr: @Model.trip.Equipment <br />

        </div>

        <div class="descriptionContainer">
            <h3>Beskrivelse</h3>
            @Model.trip.Description
            
        </div>


        

    </div>
    <div class="joinTripButton">

        
       
      
        <form method="post">
            @if (Model.trip.JsonParticipantUids == null || !Model.trip.JsonParticipantUids.Contains(User.FindFirstValue(ClaimTypes.NameIdentifier)))
            {
                <button type="submit" class="btn btn-secondary btn-lg">Meld meg på</button>
            }
            else
            {
                <button type="submit" class="btn btn-danger btn-lg">Meld meg av</button>
            }
            @if (Model.trip.OwnerId.Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)) || Model.context.Users.Where<ApplicationUser>(u => u.UserName == User.Identity.Name).First().Admin)
            {
                <a asp-page="/EditTrip" asp-route-id="@id"><button type="button" class="btn btn-primary btn-lg">Rediger Tur</button></a>
            }

        </form>
        
       
        
    </div>

    <div class="addSummary">
        <form method="post">
            @if ((Convert.ToDateTime(Model.trip.Date) < DateTime.Now) && (Model.trip.OwnerId.Equals(User.FindFirstValue(ClaimTypes.NameIdentifier))))
            {
                <a asp-page="/AddSummary" asp-route-id="@id"><button type="submit" class="btn btn-secondary btn-lg">Skriv oppsummering</button></a>
            }
        </form>

    </div>

</div>